@font-face{
    font-family: sega;
    src: url("media/fonts/SEGA.TTF")
}

@font-face{
    font-family: hirosh;
    src: url("media/fonts/hirosh/HIROSHT.TTF")
}

@font-face{
    font-family: rome;
    src: url("media/fonts/rome/Buenard-Regular.ttf");
}

body{
    margin: 0;
    scroll-behavior: none;
    
}

#my-welcome-section-video {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    object-fit: cover;
    margin: 0;
    z-index: -1;
    justify-content: center;
}

#welcome-section{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}

#section-header{
    font-family: sega;
    letter-spacing: 0.5em;
    line-height: 2.2em;
    text-align: center;
    color: rgb(212, 212, 212);
    text-shadow: 0 0.4em 0.1em rgb(247, 102, 102);

}


#projects{
    position: absolute;
    top: 80vh;

}


#section-header-wraper{
    height: 30vh;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.678), rgb(0, 0, 0), black);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 4;
    
}

.projects-section-header{
    position: relative;
    font-family: hirosh;
    font-size: 4em;
    background-color: black;
    margin: 0;
    padding: 50vh 0 0 0;
    text-align: center;
    color: rgba(212, 212, 212, 0.911);
    text-shadow: 0 0.2em 0.1em rgb(102, 242, 247);
    z-index: 2;
}

#projects-container{
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    flex-wrap: wrap;
    height: 150vh;
    padding-top: 10vh;
    background-image: linear-gradient(black, rgb(209, 209, 209));
    border: 10px black;

}

.project-tile{
    text-align: center;
    background-image: linear-gradient(90deg, rgb(102, 242, 247), rgb(247, 102, 102),rgba(255, 255, 255, 0.795), rgb(247, 102, 102),rgb(102, 242, 247));
    padding: 5px;
    margin: 0 5vw;
    
    border-radius: 10px;
}

.project-title:hover{
    transform: scale(1.2);
    
}

.project-image{
    width: 35vw;
    height: auto;
    object-fit: fill;

}

.project-card-title{
    margin: 0.5em;
    height: 1.2em;
    background-color: rgba(255, 255, 255, 0.568);
    border: 2px solid white;
    border-radius: 12px;
}







#navbar{
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.932);
    font-family: sega;
}

.nav-list{
    color: red;
    padding: 0;
}

.nav-item{
    display: inline-block;   
    margin: 0 10vw; 

}

.nav-link{
    text-decoration: none;
    color: rgb(247, 102, 102);
    text-align: center;
}

#contact{
    font-family: rome;
    height: 40vh;
    padding: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: linear-gradient(rgb(209, 209, 209), white);
}

.contact-section-header{
    text-align: center;
}

.contact-links{
    margin-top: 10vh;
    display: flex;
}

.contact-link{
    margin: 0 8vw;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;

}

.img-link{
    padding-right: 20px;
}


@media(max-width: 970px){
    .contact-links{
        flex-direction: column;
        margin-bottom: 10vh;
        margin-top: 0;
    }
    .contact-link{
        margin: 5vw;
    }

    #projects{
        height: 300vh;
    }
    #projects-container{
        flex-direction: column;
        width: 100vw; 

    }
    .projects-section-header{
        padding-top: 20vh;
    }
    .project-image{
        width: 40vw;
    }


    #contact{
        justify-content: center;
        align-items: center;
    }

    .contact-section-header{
        margin-top: 20vh;
    }

    .project-tile{
        margin: 0;
        margin: 10vh 0;
    }
}